nav {
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(to right, #0d9494, #1b1818);
  color: rgb(13, 3, 22);
  /* margin-bottom: 20px; */
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navitems h2 {
  background: rgb(245, 241, 241);
  color:rgb(235, 154, 32);
  font-size: 30px;
}

.navitems button {
  width: 30%;
  height: 10vh;
  border: none;
  padding: 20px;
  border-radius: 40px;
  background-color: #99aa04;
  font-family: serif;
  font-size: 20px;
  margin: 4px 2px;
}

.fetchbtn:hover {
  background-color: rgb(214, 58, 11);
}
.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(to bottom right, #c2ffd9, #64c9cf);
}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* padding-top: 10vh; */
}
.name:hover {
  color: yellowgreen;
}

.avatar {
  border-radius: 30%;
}

.profile_cont {
  border-radius: 50%;
  background-image: radial-gradient(red,yellow,green);
  margin: 5px;
  padding: 10px;
  width: 30%;
  text-align: center;
  transition: transform ease 0.2s;
  opacity: 0.8;
  margin-top: 8vh;
}

.profile_cont:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
